{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>

    <body>
      <div class="btn-group">
        <a href="creation"> <button class="buttonss"> <b>Creations</b></button></a>
         <!-- <a href="socialmedia.html"> <button class="buttonss"> <b>SocialMedia</b></button> </a> -->
         <a href="custom"> <button class="buttonss"><b>CustomizedArt</b></button> </a>
         <a href="aboutme"> <button class="buttonss"> <b>About</b></button> </a>
         <a href="signup"> <button class="buttonss"><b>PlaceOrder</b></button> </a></div>

         
    <div class="heading"><h1> `About`</h1></div>
    <div class="instructions"><p>
        Hi, this is Prasan Baligar.<br>
    I am here to try drawing you. You can also watch my social media handles where I have uploaded my works and creations.<br> Customers can surprise/gift theri loved one's with realistic handmade creations made with
    love.<br> You can also have your work beautifully framed with extra charges.<br> Prices are very reasonable. Payments are accepted by UPI's on<b> 7875540643</b>. Sketches can be delivered
    Nationwide. <br></p></div>
    <table class="center">
        <tr>
          <th>Types</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>Portrait Sketch</td>
          <td>1500/-</td>
        </tr>
        <tr>
          <td>Acrylic Painting</td>
          <td>1500/-</td>
        </tr>
        <tr>
          <td>Negative Drawing</td>
          <td>800/-</td>
        </tr>
    </table>
<div class="qoute"><p> <b> **Lastly, Customer is the KING of the market, and a KING never negotiates.**</b></div>
</p>
    </body>
</html>
        
