{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creations</title>
    <link rel="stylesheet" href="{% static 'creation.css' %}">
</head>

<body>
         <div class="btn-group">
        <a href="creation"> <button class="buttonss"> <b>Creations</b></button></a>
         <!-- <a href="socialmedia.html"> <button class="buttonss"> <b>SocialMedia</b></button> </a> -->
         <a href="custom"> <button class="buttonss"><b>CustomizedArt</b></button> </a>
         <a href="aboutme"> <button class="buttonss"> <b>About</b></button> </a>
         <a href="signup"> <button class="buttonss"><b>PlaceOrder</b></button> </a></div>

         
    <div class="heading"> <h1>`CREATIONS`</h1> </div>
    <div class="qoute"><h2>WHAT TYPE OF CREATION YOU WOULD LIKE TO SEE? </h2> </div>


    <button class="button button1 negative" style="vertical-align:middle; font-size: 22px;"><span> Negative Drawing </span></button>
    <button class="button button1 acrylic" style="vertical-align:middle; font-size: 22px;"><span>Acrylic Painting</span></button>
    <button class="button button1 pencil" style="vertical-align:middle; font-size: 22px;"><span>Pencil Sketches</span></button>
    <button class="button button1 wall" style="vertical-align:middle; font-size: 22px;"><span>Wall Painting</span></button>
    <div class="flex">
        
        <!-- negative -->
        <a href="https://youtu.be/wIXl_8HMrwk"><img src="static/maharaj.jpg" alt="" class="neg art" style="display: none; position: relative; top: 80px;left: 15px;border: 5px solid rgb(255, 255, 255);"></a>
        <a href="https://www.instagram.com/reel/CVGq8vGj1CM/?utm_medium=copy_link"><img src="static/joker.jpg" alt="" class="neg art" style="display: none; position: relative; top: 80px;left: 65px;border: 5px solid rgb(255, 255, 255);"></a>
        <a href="https://youtube.com/shorts/bCQswxzD7jM?feature=share"><img src="static/apsara.jpg" alt="" class="neg art" style="display: none; position: relative; top: 80px;left: 115px;border: 5px solid rgb(255, 255, 255);"></a>
        <a href="https://www.instagram.com/reel/CWd5yWyj14-/?utm_medium=copy_link"><img src="static/mensday.jpg" alt="" class="neg art" style="display: none; position: relative; top: 80px;left: 170px;border: 5px solid rgb(255, 255, 255);"></a>
        <!-- painting -->
        <a href="https://youtu.be/F9HR0vsMbNA"><img src="static/mahadev.jpg" alt="" class="acr art" style="display: none; height: 250px; width: 300px;position: relative;top:80px;left: 65px;border: 5px solid rgb(255, 255, 255);!important">
        <a href="https://youtu.be/rpcI2RdmfVY"><img src="static/pratapgad.jpg" alt="" class="acr art" style="display: none;height: 250px; width: 300px;position: relative; top: 80px;left: 115px;border: 5px solid rgb(255, 255, 255); !important">
        <a href="https://youtu.be/jOBw5BXjbKE"><img src="static/vithala.jpg" alt="" class="acr art" style="display: none;height: 250px; width: 300px;position: relative; top: 80px;left: 165px;border: 5px solid rgb(255, 255, 255) !important;">
        <a href="https://youtu.be/JxvAMbnVqzU"><img src="static/horse.jpg" alt="" class="acr art" style="display: none; position: relative;top: 80px;left: 220px; height: 250px; width: 180px;border: 5px solid rgb(255, 255, 255) !important;">
        <!-- pencil sketches -->
        <a href="https://youtu.be/S6D5T4U7gbA"><img src="static/jaishreekrushna.jpg" alt="" class="penc art" style="display: none; position: relative;top: 80px;left: 90px; height: 200px; width: 300px;border: 5px solid rgb(255, 255, 255);"></a>
        <a href="https://youtu.be/T9r2os5F-Co"><img src="static/masked.jpg" alt="" class="penc art" style="display: none; position: relative;top: 80px;left: 110px; height: 200px; width: 340px;border: 5px solid rgb(255, 255, 255);">
        <a href="https://www.instagram.com/reel/CGXU0KbAj7g/?utm_medium=copy_link"><img src="static/virat18.jpg" alt="" class="penc art" style="display: none; position: relative;top: 80px;left: 130px; height: 200px; width: 300px;border: 5px solid rgb(255, 255, 255);">
        <a href="https://www.instagram.com/p/B3nFUFshiQQ/?utm_medium=copy_link"><img src="static/godofwar.jpg" alt="" class="penc art" style="display: none; position: relative;top: 80px;left: 150px; height: 200px; width: 200px;border: 5px solid rgb(255, 255, 255);">
        <!-- wall painting -->
        <a href="https://youtu.be/loRFan4ko1E"><img src="static/wallpainting.jpg" alt="" class="wal art" style=" display: none; position: relative;top: 80px;left: 300px; height: 250px; width: 350px;border: 5px solid rgb(255, 255, 255);"> </a>
        <a href="https://youtu.be/HZlChqharKE"><img src="static/bholenath.jpg" alt="" class="wal art" style="display: none; position: relative;top: 80px;left: 450px; height: 250px; width: 350px;border: 5px solid rgb(255, 255, 255);"></a>

    </div>
    <div class="flex2">
        <!-- for phone -->
         <!-- negative -->
         <a href="https://youtu.be/wIXl_8HMrwk"><img src="static/maharaj.jpg" alt="" class="neg art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important;"></a>
         <a href="https://www.instagram.com/reel/CVGq8vGj1CM/?utm_medium=copy_link"><img src="static/joker.jpg" alt="" class="neg art" style="display: none; height: 250px; width: 300px;position: relative; top:70px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <a href="https://youtube.com/shorts/bCQswxzD7jM?feature=share"><img src="static/apsara.jpg" alt="" class="neg art" style="display: none; height: 250px; width: 300px;position: relative; top:100px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <a href="https://www.instagram.com/reel/CWd5yWyj14-/?utm_medium=copy_link"><img src="static/mensday.jpg" alt="" class="neg art" style="display: none; height: 250px; width: 300px;position: relative; top:130px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <!-- painting -->
         <a href="https://youtu.be/F9HR0vsMbNA"><img src="static/mahadev.jpg" alt="" class="acr art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important">
         <a href="https://youtu.be/rpcI2RdmfVY"><img src="static/pratapgad.jpg" alt="" class="acr art" style="display: none;height: 250px; width: 300px;position: relative; top: 80px;left: 30px;border: 1px solid rgb(255, 255, 255); !important">
         <a href="https://youtu.be/jOBw5BXjbKE"><img src="static/vithala.jpg" alt="" class="acr art" style="display: none;height: 250px; width: 300px;position: relative; top: 110px;left: 30px;border: 1px solid rgb(255, 255, 255) !important;">
         <a href="https://youtu.be/JxvAMbnVqzU"><img src="static/horse.jpg" alt="" class="acr art" style="display: none; position: relative;top: 140px;left: 60px; height: 250px; width: 180px;border: 1px solid rgb(255, 255, 255) !important;">
         <!-- pencil sketches -->
         <a href="https://youtu.be/S6D5T4U7gbA"><img src="static/jaishreekrushna.jpg" alt="" class="penc art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <a href="https://youtu.be/T9r2os5F-Co"><img src="static/masked.jpg" alt="" class="penc art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <a href="https://www.instagram.com/reel/CGXU0KbAj7g/?utm_medium=copy_link"><img src="static/virat18.jpg" alt="" class="penc art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <a href="https://www.instagram.com/p/B3nFUFshiQQ/?utm_medium=copy_link"><img src="static/godofwar.jpg" alt="" class="penc art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
         <!-- wall painting -->
         <a href="https://youtu.be/loRFan4ko1E"><img src="static/wallpainting.jpg" alt="" class="wal art" style=" display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"> </a>
         <a href="https://youtu.be/HZlChqharKE"><img src="static/bholenath.jpg" alt="" class="wal art" style="display: none; height: 250px; width: 300px;position: relative; top:50px;left: 30px;border: 1px solid rgb(255, 255, 255);!important"></a>
 
    </div>
    <script>   
        var className;

document.getElementsByClassName("negative")[0].addEventListener("click", function() {
    showImage("neg");
})

document.getElementsByClassName("acrylic")[0].addEventListener("click", function() {
    showImage("acr");
})

document.getElementsByClassName("pencil")[0].addEventListener("click", function() {
    showImage("penc");
})
document.getElementsByClassName("wall")[0].addEventListener("click", function() {
    showImage("wal");
})

function showImage(className) {
    console.log("show image");

    resetImage();

    var c = className;

    var arr = document.getElementsByClassName(c);

    for (var i = 0; i < arr.length; i++) {
        arr[i].style.display = "inline-block";
    }
}

function resetImage() {
    var images = document.querySelectorAll(".art");
    for (var i = 0; i < images.length; i++) {
        images[i].style.display = 'none';
    }
}
    </script>
</body>

</html>