{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom</title>
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
    <body>
        <div class="btn-group">
            <a href="creation"> <button class="buttonss"> <b>Creations</b></button></a>
             <!-- <a href="socialmedia.html"> <button class="buttonss"> <b>SocialMedia</b></button> </a> -->
             <a href="custom"> <button class="buttonss"><b>CustomizedArt</b></button> </a>
             <a href="aboutme"> <button class="buttonss"> <b>About</b></button> </a>
             <a href="signup"> <button class="buttonss"><b>PlaceOrder</b></button> </a></div>

             
        <div class="heading">
        <h1><b>`Customized Arts`</b></h1></div>
        <div class="qoute">
        <p> Roses are red,  Violets are blue, <br> they have their skectes,  you can have your's tooo..</p>
        </div>
        <div class="photo1">
        <img src="static/ajoba.jpg" style="width: 300px; height: 200px !important;"> </div>
        <div class="photo2">
        <img src="static/amma.jpg" style="width: 300px;height: 200px !important;"></div>
        <div class="photo3">
        <img src="static/ananya.jpg" style="width: 300px;height: 200px !important;" ></div>
        <div class="photo4">
        <img src="static/sagar.jpg" style="width: 300px;height: 200px !important;" ></div>
        <div class="photo5">
        <img src="static/aai.jpg" style="width: 150px !important;" ></div>
        <div class="photo6">
        <img src="static/aunty.jpg" style="width: 150px !important;" ></div>
        <div class="photo7">
        <img src="static/aashay.jpg" style="width: 150px !important;" ></div>
        <div class="photo8">
        <img src="static/shashwat.jpg" style="width: 150px !important; " ></div>
        <div class="photo9">
        <img src="static/rama.jpg" style="width: 150px !important;" ></div>
        <div class="photo10">
        <img src="static/vedika.jpg" style="width: 150px !important;" ></div>
        <div class="photo11">
        <img src="static/jayu.jpg" style="width: 150px !important;" ></div>
        
    </body>
    
        </html>