{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'sign.css' %}">
</head>
              <body>
                  <div class="btn-group">
                  <a href="creation"> <button class="buttonss"> <b>Creations</b></button></a>
                   <!-- <a href="socialmedia.html"> <button class="buttonss"> <b>SocialMedia</b></button> </a> -->
                   <a href="custom"> <button class="buttonss"><b>CustomizedArt</b></button> </a>
                   <a href="aboutme"> <button class="buttonss"> <b>About</b></button> </a>
                   <a href="signup"> <button class="buttonss"><b>PlaceOrder</b></button> </a></div>

              <form action="Order" method="post">{% csrf_token %}

             <div class="heading">
             <h1>`DRAW YOURSELF`</h1>  
             </div>
              <div class="container1">
                <label for="uname"><p><b>FULL NAME-</b></p></label>
                <input type ="text" placeholder="Enter your full name" name="uname" required>
                </div>

              <div class="container2">
                <label for="vname"><p><b>ADDRESS  -</b></p></label>
                <input type ="text" placeholder="Enter your full address" name="vname" required>
                 </div>

              <div class="container3">
                <label for="xname"><p><b>PINCODE  -</b></p></label>
                <input type ="text" placeholder="Enter your PINCODE" name="xname" required>
              </div>

              <div class="container4">
                <label for="yname"><p><b>STATE  -</b></p></label>
                <input type ="text" placeholder="Enter your state" name="yname" required>
              </div>


              <button class="signupbtn"><b>Place Order</b></button>
            </form>


              <div class="terms">
                <h2>Terms And Conditions:</h2>
               <b><p style="font-family:  Copperplate, Papyrus, fantasy; color: rgb(252, 233, 227); font-size: 15px; text-align: center;position: relative;top: -10px !important;">1. Sketches will be provided nationwide.<br>
                  2. Rates of the drawings are non-negotiable.<br>
                  3. Photos given for reference must be clear.<br>
                  4. Photos for reference should be only provided by email. <br>
                  5. Feedback will be highly appreciated.</p></b>
              </div>                
              </body>
    </head>
</html>